@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  verical-align: baseline;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

/* стили страницы */
body {
  min-width: 880px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
  font-weight: 500;
  background: #fff;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*header*/
.main-header {
  min-width: 900px;
  margin-bottom: 80px;
  background: #eee;
}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-logo img {
  float: left;
  width: 139px;
  height: 56px;
  margin-top: 26px;
  margin-right: 160px;
  margin-left: 0;
}
.main-navigation {
  float: left;
  width: 450px;
}
.main-navigation-list {
  margin: 52px 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.main-navigation-list li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.main-navigation-list a {
  display: block;
  padding: 0 22px;
  text-decoration: none;
  color: #000;
}
.main-navigation-list a:hover {
  color: #fb565a;
}
.main-navigation-list a:active {
  color: #000;
  opacity: 0.4;
}
.active .navigation-link {
  position: relative;
}
.active .navigation-link::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 20px;
  right: 20px;
  background: #fb565a;
}
.basket-container {
  display: inline-block;
  vertical-align: top;
  max-width: 100px;
  margin: 52px 0;
  padding-left: 30px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.basket {
  position: relative;
  padding-left: 34px;
  text-decoration: none;
  color: #000;
}
.basket::before {
  position: absolute;
  content: "\62";
  font-family: "symbols-nerds";
  left: 2px;
  top: 0;
  font-size: 16px;
  opacity: 0.3;
}
.basket:hover {
  color: #fb565a;
}
.basket:hover::before {
  opacity: 1;
}
.basket:active {
  color: #000;
  opacity: 0.4;
}
.basket:active::before {
  opacity: 0.15;
}
.slider {
  position: relative;
  width: 880px;
  height: 300px;
  margin: 0 auto;
}
.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}
.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}
.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide-text {
    width: 480px;
    padding: 25px 0;
    color: #283136;
}
.slide:nth-child(2) p {
    width: 460px;
}
.slide-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: medium;
    color: #000;
}
.slide:nth-child(3) .slide-title {
  width: 380px;
}
.slide .button {
    display: block;
    width: 240px;
    padding: 10px 0;
    margin-top: 25px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 5px;
}
.slide .button:hover {
  background: #d6494d;
}
.slide .button:active {
  box-shadow: inset 0 3px 0 0 #9b2d30;
  background: #b63538;
}
.slide:nth-child(1) {
    background-image: url("../img/slider-1.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.slide:nth-child(2) {
    background-image: url("../img/slider-2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.slide:nth-child(3) {
    background-image:url("../img/slider-3.png");
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide {
    display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/*главная страница*/

.activities {
  margin-bottom: 55px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}
.activities-area {
  float: left;
  width: 240px;
  margin-right: 80px;
}
.activities-area:last-child {
  margin-right: 0;
}
.activities-area img {
  margin-bottom: 20px;
  width: 240px;
  height: 124px;
}
.activities-area .activities-title{
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}
.activities-area .activities-description {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 22px;
}
.activities-area:nth-child(2) .activities-description {
  max-width: 220px;
}
.activities-area .button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 40px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}
.activities-area .button:hover {
  background: #d6494d;
}
.activities-area .button:active {
  box-shadow: inset 0 3px 0 0 #9b2d30;
  background: #b63538;
}
.activities-area:nth-child(2) .button {
  background: #00ca74;
}
.activities-area:nth-child(2) .button:hover {
  background: #01a25e;
}
.activities-area:nth-child(2) .button:active {
  box-shadow: inset 0 3px 0 0 #007b47;
  background: #009053;
}
.activities-area:nth-child(3) .button {
  background: #efc84a;
}
.activities-area:nth-child(3) .button:hover {
  background: #d6ae2c;
}
.activities-area:nth-child(3) .button:active {
  box-shadow: inset 0 3px 0 0 #a3841f;
  background: #c09b24;
}
.about-us {
  min-height: 350px;
}
.content-column-left {
  float: left;
  width: 590px;
  margin-right: 50px;
}
.content-column-left .main-title {
  margin: 17px 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #000;
}
.content-column-left .main-concepts {
  margin-bottom:  43px;
}
.content-column-left  h3, .content-column-right  h3 {
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.content-column-left .order-options, .content-column-right ul {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
}
.content-column-left li, .content-column-right li {
  position: relative;
  margin-bottom: 21px;
  padding-left: 33px;
}
.content-column-left li::before, .content-column-right li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  bottom: 50%;
  background: #fb565a;
}
.content-column-right {
  float: right;
  width: 240px;
}
.content-column-right .logo {
  float: left;
  width: 240px;
  min-height: 125px;
  margin-top: 0;
  margin-bottom: 65px;
  text-align: center;
}
.logo img {
  width: 187px;
  height: 75px;
  margin-left: 5px;
  margin-bottom: 27px;
}
.logo p {
  position: relative;
  margin: 0;
  padding: 0 15px;
  display: inline;
  text-transform: uppercase;
  text-align: center;
  background: #fff;
  font-weight: bold;
  z-index: 2;
}
.logo::after {
  position: relative;
  content: "";
  display: block;
  top: -12px;
  z-index: 1;
  border-bottom: 2px solid #eee;
}
.partners {
  min-height: 168px;
  margin-bottom: 85px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.partners-logo {
  float: left;
  width: 220px;
  min-height: 45px;
  margin-right: 100px;
  opacity: 0.2;
}
.partners-logo:first-child {
  margin-left: 10px;
  margin-top: 68px;
}
.partners-logo:nth-child(2) {
  margin-top: 55px;
}
.partners-logo:hover, .partners-logo:active {
  opacity: 1;
}
.partners-logo:last-child{
  width: 230px;
  margin-right: 0;
  margin-top: 44px;
}

/* страница Магазина*/
.inner-page .inner-page-title {
  margin: 15px 100px;
  margin-bottom: 81px;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
}
.inner-page .main-header {
  margin-bottom: 75px;
}
.options-form {
  float: left;
  min-width: 240px;
  min-height: 730px;
}
.range-filter {
  width: 240px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 140px;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-transform: uppercase;
}
.max-price {
  text-align: right;
}
.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}
.options-form input[type="radio"],
.options-form input[type="checkbox"] {
  display: none;
}
.options-form input[type="radio"] + label,
.options-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
  padding-left: 36px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #283136;
}
.options-form input[type="radio"] + label:hover,
.options-form input[type="checkbox"] + label:hover {
  color: #000;
}
.options-form input[type="radio"]:disabled + label,
.options-form input[type="checkbox"]:disabled + label {
  opacity: 0.4;
}
.options-form input[type="radio"] + label::before,
.options-form input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\25cb";
  font-family: "symbols-nerds";
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  color: #c1c1c1;
}
.options-form input[type="checkbox"] + label::before {
  content: "\2610";
}
.options-form input[type="radio"]:checked + label::before {
  content: "\25cf";
}
.options-form input[type="checkbox"]:checked + label::before {
  content: "\2611";
}
.options-form input[type="radio"] + label:hover::before,
.options-form input[type="checkbox"] + label:hover::before {
  color: #b5b5b5;
}
.options-form input[type="radio"]:disabled + label::before,
.options-form input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
}
.options-form .filter-title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}
.options-form .range-filter {
  margin-bottom: 45px;
}
.options-form .grid {
  margin-bottom: 25px;
}
.options-form .specifics {
  margin-bottom: 45px;
}
.options-form .button {
  padding: 13px 48px;
  padding-right: 44px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background: #f1f1f1;
  border-radius: 5px;
  border: none;
  outline: none;
}
.options-form .button:hover {
  background: #e5e5e5;
}
.options-form .button:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}
.catalog-items {
  float: right;
  width: 560px;
  margin-bottom: 80px;
}
.filter {
  position: relative;
  width: 560px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.filter span {
  color: #000;
  margin-right: 33px;
}
.filter-options-list {
  display: inline;
  font-size: 0;
  padding: 0;
}
.filter-options-list li {
  display: inline-block;
  vertical-align: top;
  max-width: 435px;
  margin-right: 43px;
  font-size: 12px;
}
.filter-options-list a {
  opacity: 0.3;
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #00ca74;
  cursor: pointer;
}
.filter-options-list a:hover {
  opacity: 1;
  border-bottom: 1px solid #00ca74;
}
.filter-options-list a:active {
  opacity: 1;
  border: none;
}
.filter-arrows {
  position: absolute;
  right: 15px;
  bottom: 5px;
  font-size: 23px;
  line-height: 20px;
}
.filter-arrows a {
  color: #c1c1c1;
}
.filter-arrows i {
  display: inline-block;
  verticala-align: top;
  width: 10px;
  height: 10px;
}
.filter-arrows a:active {
  color: #000;
}
.filter-arrows .active {
  color: #00ca74;
}
.samples {
  font-size: 0;
}
.site-sample {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  height: 240px;
  margin-right: 80px;
  margin-bottom: 80px;
  padding-top: 30px;
  font-size: 14px;
}
.site-sample::before {
  position: absolute;
  content: "";
  width: 240px;
  height: 30px;
  top: 0;
  left: 0;
  background: url("../img/button_light.png") center no-repeat;
}
.site-sample img {
  width: 240px;
  height: 240px;
}
.site-sample:hover::before{
  position: absolute;
  content: "";
  width: 240px;
  height: 30px;
  top: 0;
  left: 0;
  background: url("../img/button_dark.png") center no-repeat;
}
.site-sample:hover .site-info {
  display: block;
  cursor: pointer;
}
.site-info {
  display: none;
  position: absolute;
  content: "";
  width: 160px;
  height: 140px;
  top: 50px;
  left: 20px;
  padding: 30px 20px;
  vertical-align: middle;
  text-align: center;
  background: #fff;
}
.site-info .site-title {
  margin: 0;
  padding: auto 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.site-title a {
  color: #000;
  text-decoration: none;
}
.site-info .site-description {
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #283136;
}
.site-sample:nth-child(3) .site-description,
.site-sample:nth-child(6) .site-description {
  padding: 0 15px;
}
.site-sample:nth-child(5) .site-description {
  padding: 0 20px;
}
.site-sample:nth-child(4) .site-description {
  margin: 9px 0;
}
.site-info .button{
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 0 10px;
  margin-top: 15px;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  line-height: 8.56px;
  color: #fff;
  background: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}
.site-sample:nth-child(4) .button {
  margin-top: 3px;
}
.site-info .button:hover {
  background: #d6494d;
}
.site-info .button:active {
  box-shadow: inset 0 3px 0 0 #9b2d30;
  background: #b63538;
}
.site-sample:nth-child(2n) {
  margin-right: 0;
}
.paginator {
  float: left;
  min-width: 300px;
  font-size: 0;
}
.page {
  display: inline-block;
  vertical-align: top;
  min-width: 38px;
  margin-right: 10px;
  padding: 11px 0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  background: #f1f1f1;
  border-radius: 5px;
}
.page:last-child {
  padding: 11px 30px;
}
.page:hover {
  background: #e5e5e5;
}
.page:active {
  box-shadow: inset 0 3px 0 0 #b5b5b5;
  background: #d5d5d5;
}
.paginator .active {
  min-width: 34px;
  padding: 9px 0;
  background: #fff;
  border: 2px solid #f1f1f1;
  box-shadow: none;
}
/*карта*/
.location-info {
  position: relative;
  min-width: 900px;
  height: 416px;
  margin: 0 auto;
}
.location-info .map {
  width: 100%;
  height: 416px;
  margin: 0 auto;
}
.map img {
  width: 100%;
  height: 416px;
}
.location-info .contacts {
  display: block;
  position: absolute;
  bottom: 92px;
  width: 210px;
  min-height: 194px;
  padding: 23px 20px;
  background: #fff;
}
.contacts .company-name {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}
.contacts .address, .contacts .phone-number {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.contacts .phone-number {
  margin-bottom: 35px;
}
.contacts .write-us {
  padding: 10px 52px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}
.contacts .write-us:hover {
  background: #d6494d;
}
.contacts .write-us:active {
  box-shadow: inset 0 3px 0 0 #9b2d30;
  background: #b63538;
}
/*footer*/
.main-footer {
  padding: 75px 0;
}
.social-buttons {
  float: left;
  width: 300px;
  margin-right: 20px;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 20px;
  padding: 20px 16px;
  font-size: 0;
  text-decoration: none;
  background: #e1e1e1;
  border-radius: 50%;
}
.social-btn:hover {
  background: #d6494d;
}
.social-btn:active {
  background: #b63538;
}
.social-btn-vk {
  content: "\76";
  font-size: 23px;
  line-height: 16px;
  color: #fff;
}
.social-btn-fb {
  content: "\66";
  font-size: 23px;
  line-height: 16px;
  color: #fff;
}
.social-btn-inst {
  content: "📷";
  font-size: 23px;
  line-height: 16px;
  color: #fff;
}
.social-text {
  float: right;
  width: 560px;
}
.social-text .discount-offer {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  color: #000;
}
.social-text .discount-info {
  margin: 0;
}
.modal-content {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  width:  470px;
  height: 300px;
  margin-top: -30px;
  margin-left: -315px;
  padding: 50px 80px;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background: #fff;
  box-shadow: 0 0 30px 0 #5c5d5d;
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}
.modal-content-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 40px;
  height: 40px;
  font-size: 0;
  cursor: pointer;
  background: #fb565a url("../img/cross.png") no-repeat center;
  border-radius: 50%;
}
.modal-content label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
.login-form input[type="text"] {
  width: 188px;
  margin: 0;
  margin-bottom: 20px;
  padding: 8px 13px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #d7dcde;
  outline: none;
  border-radius: 5px;
}
.login-form textarea {
  width: 430px;
  height: 80px;
  margin: 0;
  margin-bottom: 50px;
  padding: 8px 13px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #d7dcde;
  outline: none;
  resize: none;
  border-radius: 5px;
}
.login-form input[type="text"]:hover, .login-form textarea:hover {
  border-color: #a2a9ac;
}
.login-form input[type="text"]:focus, .login-form textarea:focus {
  border-color: #56bffb;
}
.login-form .name {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.login-form .e-mail {
  float: left;
  width: 220px;
}
.login-form .button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 72px;
  margin-right: 20px;
  background: #fb565a;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  border: none;
}
.login-form .button:hover {
  background: #d6494d;
}
.login-form .button:active {
  box-shadow: inset 0 3px 0 0 #9b2d30;
  background: #b63538;
}
.login-form .cancel {
  display: inline-block;
  vertical-align: top;
  padding: 10px 84px;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  background: #f1f1f1;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
}
.login-form .cancel:hover {
  background: #e5e5e5;
}
.login-form .cancel:active {
  box-shadow: inset 0 3px 0 0 #b5b5b5;
  background: #d5d5d5;
}
/*write-us*/
.inner-content {
  display: block;
  width:  470px;
  height: 300px;
  margin: 0 auto;
  padding: 50px 80px;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background: #fff;
}
